<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- for add new tab in Magento2 system configuration section -->
       <tab id="emipro" translate="label" sortOrder="110">
             <label>Emipro</label>
        </tab>
        <!-- for create section -->
        <section id="reviewnotification" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Review Notification</label>
            <!-- Assign section to tab -->
            <tab>emipro</tab>
            
            <resource>Emipro_Reviewnotification::reviewnotification_config</resource>
            <!-- Group Id must be 'licence'-->
             <group id="licence" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0"> 
                <label>Licence</label>
            <!-- Field Id must be 'licence'-->
                <field id="licence" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Licence Key</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <!-- create group for fields in section -->
            <group id="config" translate="label" type="text"  sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
			
                <label>Review Notification Settings</label>
                <field id="display_notification" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Notification</label>
                    <comment>Review notification display on admin.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_notification" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Notification</label>
                    <comment>Review notification email send to receivers.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="email_receivers" translate="label comment" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Receivers</label>
                    <comment>Multiple email with comma(,) separated.</comment>
                    <validate>required-entry</validate>
                    <depends><field id="email_notification">1</field></depends>
                </field>
                <field id="identity" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends><field id="email_notification">1</field></depends>
                </field>              
                <field id="review_notification_template_email" translate="label" type="select" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends><field id="email_notification">1</field></depends>
                </field>
            </group>
        </section>        
    </system>
</config>

