<!--@subject {{trans "You are auction winner at : %store_name order" store_name=$store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;color:#1a1a1a;">
	<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr class="email-intro" style="background: #FFFFFF;">
                 <td>
		            <p class="greeting">Hello {{var customer_name}}</p>
					<p>Thank you for your interest in the online auction.</p>
					<p>You are Winner of <b>{{var auction_title}}</b>. Please visit <a href='{{var product_url}}'>{{var product_name}}</a>.</p>
					<p>Your last winning Bid price:- <b>{{var currency_symbol}}{{var product_price}}</b> </p>
					<p>Make you sure that your Payment process complete within Today.</p>
					<p>Again, we appreciate your interest and look forward to working with you in the future.</p>
					<br/>
					Regards,
					<br/><br/>
		        </td>
            </tr>
        </table>
	</div>
</body>
{{template config_path="design/email/footer_template"}}
