<!--@subject {{trans "Your bid Successful!"}} @-->
{{template config_path="design/email/header_template"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;color:#1a1a1a;">
	<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
	    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="5" border="0" width="650" style="border:1px solid #E0E0E0;">
	        <tr class="email-intro" style="background: #FFFFFF;">
	            <td>
						<p class="greeting">Dear Auction Bidder,</p>
						<p>
							Thank you for your interest in the auction of {{var auction_title}}. Your bid on <a href="{{var product_url}}" target="_blank">{{var auction_title}}</a> with {{var currency_symbol}}{{var bid_amount}} is successful.
						</p>
						<br/>
						Regards,
						<br/><br/>
	            </td>
	        </tr>
	    </table>
	</div>
</body>
{{template config_path="design/email/footer_template"}}
